<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>係編集</title>
</head>
{% block content %}
<body>
    {% block containar_fluid %}
    <div>
        <button id="test">
            テストボタン
        </button>
    </div>
    <div class="containar-fluid">
        <div class="row mt-4">
            <div class="col-12 col-md-5 col-lg-3 sidebar">
                <div class="card">
                    <div class="card-header">
                        拠点/部/課/係
                    </div>
                    <div class="card-body">
                        <ul class="tree-view" id="treeView"></ul>
                    </div>
                </div>
            </div>

            <!-- 入力フォーム -->
            <div class="col-12 col-md-7 col-lg-9 ">
                <div class="card">
                    <div class="card-header card-header-title" id="cardtitle">
                        <div id="cardtitle-main">選択した係に所属するラインを編集</div>
                        <div class="ms-5">(※異常内容設定ラインのみ登録)</div>
                    </div>

                    <div class="card-body">
                        <form action="" id="editform" style="display: none;">
                            {% for i in range(1,31) %}
                            <div class="mb-3">
                                <div class="d-flex gap-2">
                                    <div>
                                        <label for="line{{i}}" class="form-label">ライン{{ i }}</label>
                                        <input type="text" class="form-control" id="lineName{{i}}" name="lineName{{i}}">
                                    </div>
                                    <div>
                                        <label for="lineCode{{i}}" class="form-label">ラインコード{{ i }}</label>
                                        <input type="text" class="form-control" id="lineCode{{i}}" name="lineCode{{i}}">
                                    </div>
                                    <div>
                                        <label for="displayOrder{{i}}" class="form-label">表示順{{ i }}</label>
                                        <input type="number" class="form-control" id="displayOrder{{i}}" name="displayOrder{{i}}">
                                    </div>
                                </div>

                                <small id="lineID{{i}}" class="text-muted"></small>
                                <small id="createdAt{{i}}" class="text-muted"></small>
                                <small id="creator{{i}}" class="text-muted"></small>
                                <small id="updatedAt{{i}}" class="text-muted"></small>
                                <small id="updater{{i}}" class="text-muted"></small>
                            </div>
                            {% endfor %}
                            <button type='button' id="saveButton" class="btn btn-primary"
                                style="display: none;">保存</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</body>
{% block scripts %}

<!-- Sessionの読み込み -->
<script type="module">
    import { fetchSessionData } from "/static/js/session.js";

    window.sessionData = null;

    async function loadSessionData(){   
        window.sessionData = await fetchSessionData();
        console.log(`session{id:${window.sessionData.id}
                    session{username:${window.sessionData.username}
                    role:${window.sessionData.role}
                    email:${window.sessionData.email}}`);
    }

    loadSessionData();
    
            
</script>

<script type ="module">
    import { fetchTreeData } from "/static/js/api.js";
    import { buildTreeView } from "/static/js/treeview.js";
    import { setupSaveButton } from "/static/js/edit_productionline.js";

    const depth = 4;

    async function loadTreeview(){
        const factories = await fetchTreeData();
        if (factories){
            buildTreeView(factories,depth);
        }else{
            console.error("ツリー構造データ取得に失敗しました");
        }
    }

    loadTreeview();
    setupSaveButton();

</script>
{% endblock scripts %}
{% endblock %}
</html>






