<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人員編集</title>
</head>
{% block content %}

<body>
    {% block containar_fluid %}
    <div>
        <button id="test">
            テストボタン
        </button>
        <div id="theGrid"></div>

    </div>
    <div class="containar-fluid">
        <div class="row mt-4">
            <div class="col-12 col-md-5 col-lg-3 sidebar">
                <div class="card">
                    <div class="card-header">
                        拠点/部/課/係
                    </div>
                    <div class="card-body">
                        <ul class="tree-view" id="treeView"></ul>
                    </div>
                </div>
            </div>

            <!-- 入力フォーム -->
            <div class="col-12 col-md-7 col-lg-9 ">
                <div class="card">
                    <div class="card-header card-header-title" id="cardtitle">
                        <div id="cardtitle-main">選択した係に所属する人員を編集</div>
                    </div>


                    <button type='button' id="saveButton" class="btn btn-primary" style="display: none;">保存</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>
    {% endblock %}
</body>
{% block scripts %}

<!-- Sessionの読み込み -->
<script type="module">
    import { fetchSessionData } from "/static/js/session.js";

    window.sessionData = null;

    async function loadSessionData() {
        window.sessionData = await fetchSessionData();
        console.log(`session{id:${window.sessionData.id}
                    session{username:${window.sessionData.username}
                    role:${window.sessionData.role}
                    email:${window.sessionData.email}}`);
    }

    loadSessionData();


</script>

<!-- ツリービュー構築＆選択した係の人員データを表示＆編集時の保存 -->
<!-- JspreadSheet機能 -->
<script type="module">



    import { fetchTreeData } from "/static/js/api.js";
    import { buildTreeView } from "/static/js/treeview.js";
    // import { setupSaveButton } from "/static/js/edit_employee.js";
    import { setEmployeesSpreadsheet } from "/static/js/edit_employee.js";


    document.addEventListener('DOMContentLoaded', function () {
        let spreadSheetId = document.getElementById('spreadsheet');

        const depth = 100;
        async function loadTreeview() {
            const factories = await fetchTreeData();
            if (factories) {
                buildTreeView(factories, depth);
            } else {
                console.error("ツリー構造データ取得に失敗しました");
            }

            // loadEmployeesData(spreadSheetId, fetchdata);
        }

        loadTreeview();



        // spreadSheetId = document.getElementById('spreadsheet');
        // async function loadEmployeesData(spreadSheetId, fetchdata) {
        //     // const response = await fetch('/api/employees');
        //     // const employees = await response.json();
        //     // console.log(employees);
        //     await setEmployeesSpreadsheet(spreadSheetId, fetchdata);
        // }

        // setupSaveButton();
    });
    // 人員データを取得して表示 (テスト用リテラル値=1)
    const subsectionId = 1;
    fetchEmployees(subsectionId);

    document.readyState === 'complete' ? init() : window.onload = init;
    function init() {
        const category = '一般(オペレーター),班長,工長(組長),課長,部長'.split(',');
        const categoryMap = new wijmo.grid.DataMap(category);
        var grid = new wijmo.grid.FlexGrid('#theGrid', {
            autoGenerateColumns: false,
            imeEnabled: true,
            allowAddNew: false,
            itemsSource: createData(5),
            selectionMode: wijmo.grid.SelectionMode.Row,
            columns: [
                { header: 'id', binding: 'id'},
                { header: 'name', binding: 'name', },
                { header:'code',binding: 'code' },
                { header: 'position', binding: 'position' },
                { header: 'category', binding: 'category', dataMap: categoryMap  },
                { header: 'sort_order', binding: 'sort_order' },
                { header: 'is_deleted', binding: 'is_deleted' },
                { header: 'created_by', binding: 'created_by' },
                { header: 'updated_by', binding: 'updated_by' },
                { header: 'created_at', binding: 'created_at' },
                { header: 'updated_at', binding: 'updated_at' },
            ]
        }
        );


        ;
        // 行ヘッダーの幅を設定します
        grid.rowHeaders.columns[0].width = 50;

        // 行ヘッダーに文字列を設定します
        for (var r = 1; r < 30; r++) {
            grid.rowHeaders.setCellData(r, 0, r);
        }
        // grid.rowHeaders.rows.length

    }

    function MyFunction() { }
    console.log(MyFunction.prototype);


    function fetchEmployees(subsectionId) {
        fetch(`/api/employees/${subsectionId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTPエラー! ステータス: ${response.status}`);
                }
                return response.json();
            })
            .then(employees => {
                console.log(employees)
                let formattedEmployees = formatData(employees);
                
                return formattedEmployees
                // setEmployeesSpreadsheet(gridId, formattedEmployees);
                // let gridId = document.getElementById('theGrid');
            })
            .catch(error => console.error('取得エラー:', error));
    }

    function formatData(employees) {
        console.log(employees)
        let gridData = [];
        employees.foreach(employee => [
            gridData.push({
                id: employee.id,
                name: employee.name,
                code: employee.code,
                position: employee.position_id,
                category: employee.category,
                sort_order: employee.sort_order,
                is_deleted: employee.is_deleted,
                created_by: employee.created_by,
                updated_by: employee.updated_by,
                created_at: employee.created_at,
                updated_at: employee.updated_at
            })]);
        return gridData;

    }






    function createData(count) {
        var countries = '一般(オペレーター),班長,工長(組長),課長,部長'.split(','),
            data = [];

        for (var i = 0; i < count; i++) {
            data.push({
                id: i + 1,
                country: countries[i % countries.length],
                date: new Date(2014, i % 12, i % 28),
                amount: Math.random() * 10000,
                active: i % 4 == 0,
            });
        }

        return data;
    }




</script>
{% endblock scripts %}
{% endblock %}

</html>